version: "3.9"

services:
  backend:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: workout_assessmant_backend
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1