version: "3.9"

services:
  backend:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: workout_assessment_backend
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./app:/app
    restart: unless-stopped