:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #F3F3F3;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F3F3F3;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

html, body, #root {
  height: 100%;
  background-color: #F3F3F3 !important;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: -0.6em -0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #F3F3F3;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@font-face {
  font-family: 'TT Travels Bold';
  src: local('TT Travels Bold'), url('./fonts/TTTravels/TTTravels-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'TT Travels Medium';
  src: local('TT Travels Medium'), url('./fonts/TTTravels/TTTravels-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'TT Travels Regular';
  src: local('TT Travels Regular'), url('./fonts/TTTravels/TTTravels-Regular.ttf') format('truetype');
}
